* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: url("fond-map.png") center center / cover no-repeat;
}

.page-carte {
    position: relative;

    width: 100%;
    height: 100dvh;

    overflow: hidden;
}

.carte-wrapper {
    position: absolute;

    top: 55%;
    left: 50%;

    width: 380%;

    transform: translate(-50%, -50%);
}

.carte-monde {
    display: block;

    width: 100%;
    height: auto;

    opacity: .85;
}
